.singlePost {
    margin: auto;
    padding: 3% 10%;
    width: 40%;
    background-color: white;
    position: relative;
}

.singlePost::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 150px;
    top:0;
    left: 5%;
    background: rgb(3,0,60);
    background: linear-gradient(157deg, rgba(3,0,60,1) 0%, rgba(255,100,60,1) 0%, rgba(255,217,74,1) 100%);
}

.postTitle {
    font-size: 2em;
}

.postInfo {
    color: #f2935c;
    width: 100%;
    text-align: right;
}

.postContent {
    margin: 2em 0;
    font-family: 'Montserrat';
    line-height: 1.5em;
}